<app-navbar></app-navbar>

<div class="container-fluid m-0 p-0 primary-color text-light ">
    <div class="row p-5">
        <div class="col-md-6">
            <h1>Contactez-nous</h1>
            <small>Nos coordonnées afin de nous contacter en cas de problème.</small>
        </div>
        <div class="col-md-6">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>

<div class="container p-5" align="center">
    <h2>Besoin d'aides? Nous sommes disponibles!</h2>
    <p>
        Utilisez nos contacts afin d'exposer vos questions et préocupations.
    </p>
</div>

<div class="container ">
    <div class="row">
        <div class="col-md-6 primary-color p-5">
            <form>
                <div class="form-row mb-4">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Entrez votre nom">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Entrez votre prénom">
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Entrez votre Email">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Entrez votre Tel">
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Entrez votre préocupation" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyez</button>
            </form>
        </div>
        <div class="col-md-6 p-5 " align="center" >
            <ul class="list-group">                
                <li class="list-group-item">Adresse email : madazada0@gmail.com</li>
                <li class="list-group-item">Tel : +216 55848963 / +33 157896541 / +1 569458965</li>
                <li class="list-group-item">Tunisie, Ariana cite ghazela</li>
                <li class="list-group-item">France, Nantes malakoff</li>
                <li class="list-group-item">USA, NYC maplewood </li>
              </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>