
<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">LEA</a>
  </nav>
  


<div class="container-fluid" style="height:100vh;">
    <div class="row">
        <div class="col-md-6 p-5">

            <div class="container bg-light mt-5 p-5 login-container">
                <h3 class="mb-4">CONSIGNE CONNEXION</h3>
                <p>
                    Seul les professeurs, c'est-à-dire ceux qui ont pour ambition de
                    mettre des cours sur la plateforme, peuvent s'inscrire. Car il n'y a pas besoin
                    s'inscrire pour suivre des cours
                </p>
                <button class="btn btn-primary" (click)="login()">Se connecter</button>
                <!-- <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Adresse Email</label>
                      <input type="email" name="email" [(ngModel)]="data.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Mot de passe</label>
                      <input type="password" name="password" [(ngModel)]="data.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>      
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Se connecter</button>
                    <br><br>
                    <small class="text-primary">
                        <a href="/register">
                            Je n'ai pas de compte ! Je veux m'inscrire
                        </a>
                    </small>              

                </form> -->

            </div>

        </div>
        <div class="col-md-6">
            <img class="mt-5" src="https://img.freepik.com/free-vector/webinar-concept-illustration_114360-4764.jpg?w=1060&t=st=1671580821~exp=1671581421~hmac=d5b2ad44dc1e11370b28665e55b36f522d074d6b4587d94566739bcb48a6ea11" style="width: 100%;" alt="">
        </div>
    </div>
</div>